# ACSL 2020-2021 Contest #1 Programming Problem

## Junior Division

## PROBLEM: 
Construct a Numeral Triangle according to the following rules. You will be given
three positive integers: s , a starting number; d, a delta (the amount by which to increase each
number in the triangle); and r the number of rows.
1. The first row contains the number s .
2. Each of the next rows has one more number than the previous row.
3. Each number in the triangle is d more than the previous number in the triangle.
4. Before putting a number in the triangle, it is transformed to a single digit. That is, if the
number is more than one digit, replace it by the sum of the digits, repeating until the sum
is one digit (for example, 1938 ⇒ 21 ⇒ 3).

Here are two examples of Numeral Triangles:

![alt text](acsl_2020_2021_numeral_triangle.png "Numeral Triangles Examples")

## Hint:
Break down the problem into multiple sub-problems.  Create a function for each sub-problems.

- How to create a Numberal Triangle?
- How to check and convert a number if it is more than a single digit?
- How to get the last row of a Numberal Triangle?
- How to sum all numbers on the rth line of Numeral Triangle

In [39]:
# Sum of digits
def sum_digits(n):
    if n <= 9:
        return n
    else:
        sum = 0
        for digit in str(n):
            sum += int(digit)
        if sum > 9:
            return sum_digits(sum)
        else:
            return sum

In [40]:
print(sum_digits(123))

6

In [41]:
print(sum_digits(2368))

1

In [60]:
# Numeral Triangle
def numeral_triangle(start, delta, rows):
    if rows <=0:
        return None
    else:
        if start > 9:
            start = sum_digits(start)        
        number=start   
        triangle=[[start]]        
        for r in range(1, rows):
            row = []
            for i in range(r+1):
                number +=delta
                if number > 9:
                     number = sum_digits(number) 
                row.append(number)
            triangle.append(row)
        return triangle

In [65]:
triangle=numeral_triangle(2, 3, 5)
triangle

[[2], [5, 8], [2, 5, 8], [2, 5, 8, 2], [5, 8, 2, 5, 8]]

In [63]:
triangle=numeral_triangle(221, 2, 4)
triangle

[[5], [7, 9], [2, 4, 6], [8, 1, 3, 5]]

In [50]:
# Sum of numbers in a row
def sum_row(row):
    sum = 0
    for n in row:
        sum +=n
    return sum

In [66]:
print(sum_row(triangle[-1]))

28

In [52]:
# Main Program
def sum_last_row(inlist):
    nrow = len(inlist)
    for i in range(nrow):
        triangle=numeral_triangle(inlist[i][0], inlist[i][1], inlist[i][2])
        sum = sum_row(triangle[-1])
        print(f"{i+1}. {sum}")

In [48]:
in1 = [[2,3,5], [221,2,4],[184,231,35], [71,5,27], [1,24,100]]
sum_last_row(in1)

1. 28
2. 17
3. 140
4. 135
5. 397

In [49]:
in1 = [[599,23,43], [4326,1234,80],[704,1776,200], [6283,185,31], [3141,59,26]]
sum_last_row(in1)

1. 218
2. 399
3. 1003
4. 154
5. 126

In [56]:
# Numeral Triangle - return last row only
def numeral_triangle(start, delta, rows):
    if rows <=0:
        return None
    else:
        if start > 9:
            start = sum_digits(start)        
        count = 0
        number=start   
        row=[]        
        for r in range(1, rows):
            for i in range(r+1):
                number += delta
                if number > 9:
                     number = sum_digits(number) 
                if r == rows - 1:
                    row.append(number)
        return row

In [67]:
# Main Program
def sum_last_row(start, delta, rows):
    triangle=numeral_triangle(start, delta, rows)
    sum = sum_row(triangle[-1])
    print(sum)

In [68]:
in1 = [[2,3,5], [221,2,4],[184,231,35], [71,5,27], [1,24,100]]
for inp in in1:
    sum_last_row(inp[0], inp[1], inp[2])

28
17
140
135
397