# Python Tutorials 
## 1.1 - Basics - Variables


### Author: Dr. Owen Chen
### Date: 2023 Fall

## Topics:

    - Hello, World
    - Variables
    - Data Types
    - Type Conversion

## Hello, World!

Write our first Python Program to print "Hello, World!"

In [1]:
print("Hello, World!")

Hello, World!

In [2]:
print("Hey", 10, 2.2)

Hey 10 2.2

In [3]:
# print a message saying: Hello, my name is xxx
print("Hello, my name is Owen")

Hello, my name is Owen

In [11]:
name = "Owen"
hi = "Hello"
print(f"{hi}, my name is {name}")
print(hi,", my name is", name)

Hello, my name is Owen
Hello , my name is Owen

In [12]:
s = "this is a long message this is a long message this is a long message this \
is a long message this is a long message this \
is a long message this is a long message "
s

'this is a long message this is a long message this is a long message this is a long message this is a long message this is a long message this is a long message '

# Variables
- A variable is a reserved memory location.
- A variable in a python program gives data to the computer for processing.

### Python Variable Name Convention
A variable name in Python should fulfil the following
- Use lowercase
- Separate words with underscore.

A variable name in Python can be
- A single lowercase letter
- A lowercase word
- Or lowercase words separated by underscore.

Examples of variable names
- x
- i
- cars
- my_cars

Note that other programming languages can have other naming conventions.

### Declaration of variables

In [1]:
s = "This is a string"
a = 2
b = 2.4

### Reserved Words

You cannot use reserved words as variable names or your custom function names:

<strong>
  False None True and as assert async await break </br>   
  class continue def del elif else except   </br>   
  finally for from global if import in is lambda  </br>   
  nonlocal not or pass raise return try while with yield  </br>   
</strong>

The following code allows you to view the complete list of Pythonâ€™s keywords.

In [4]:
# code
import keyword
print(sorted(keyword.kwlist))

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### Basic data types
- Integers
- Floats
- Strings
- Boolean

### Integers
An integer is a number which is not a fraction; a whole number.

Examples of integers: 
- -23
- -5
- 0
- 1
- 78
- 1,980,350

Examples of non-integers: 
- 3.14
- 0.001
- 9,999.999

In [1]:
a = 2
b = 3

In [14]:
type(a), type(b)

(int, int)

In [2]:
type(a + b)

int

In [3]:
c = a + b
type(c)

int

### Float
A float is a numbers with digits on both sides of a decimal point. This is in contrast to the integer data type, which houses an integer or whole number.

Examples of floats:
- 3.13
- 9.99
- 0.0001

Note that a float data type in Python can represent a whole number.
- 1.0
- 3.0

In [5]:
a = 1.1
b = 2.3

In [6]:
type(a), type(b)

(float, float)

In [7]:
type(a + b)

float

In [8]:
a + b

3.4

In [11]:
i = 1

In [12]:
type(i)

int

In [13]:
type(i + a)

float

In [14]:
i + a

2.1

### Strings
A string in Python is a sequence of characters.

Examples
- "I am a string!"
- 'I am another string'

In [9]:
s1 = 'I am a string'
s2 = "I am another string"

In [11]:
s1 + " " + s2

'I am a string I am another string'

In [12]:
a = 1

In [14]:
s1 + str(a)

'I am a string1'

In [15]:
s3 = f"variable a={a}, I am a string with an int here {a + 2} - and more text"

In [16]:
s3

'variable a=1, I am a string with an int here 3 - and more text'

In [17]:
print(f"I am a string with an int here {a + 2} - and more text")

I am a string with an int here 3 - and more text

### Boolean
- True or False (case sensitive)
- Either it rains or not -> Either you take your umbrella or not

In [25]:
True

True

In [26]:
False

False

In [27]:
b = True

In [28]:
b

True

In [29]:
b = 10 > 5

In [30]:
b

True

In [31]:
bool(2 > 4)

False

In [3]:
a = 9

In [4]:
a

9

In [5]:
print(a)

9

## Getting the Data Type

You can get the data type of any object by using the type() function:

In [6]:
type(a)

int

In [7]:
a = 9.0

In [8]:
a

9.0

In [9]:
type(a)

float

In [10]:
a = "hello"
a

'hello'

In [11]:
type(a)

str

In [12]:
a[0]

'h'

In [13]:
a[1]

'e'

In [14]:
a[-1]

'o'

In [15]:
a[4]

'o'

In [16]:
l = len(a)
l

5

In [17]:
a[len(a)-1]

'o'

# Type Conversion
- More about formatted strings
- Types are not the same
- Convert them with **int(), float(), str()**

In [1]:
name = input("What is your name? ")
print(f"Hello {name}!")
birth_year = input("What is your birht year? ")
print(f"You were born in {birth_year}.")

Hello Rune!
You were born in 1990.

In [ ]:
name = input("What is your name? ")
print(f"Hello {name}!")
birth_year = input("What is your birht year? ")
print(f"You are {2021 - birth_year} old!")

In [3]:
type(birth_year)

str

In [4]:
int(birth_year)

1990

In [5]:
name = input("What is your name? ")
print(f"Hello {name}!")
birth_year = input("What is your birht year? ")
birth_year = int(birth_year)
print(f"You are {2021 - birth_year} old!")

Hello Rune!
You are 31 old!

In [6]:
int("30")

30

In [7]:
int(" -4")

-4

In [8]:
float("2")

2.0

In [9]:
float("3.14")

3.14

In [10]:
float(3)

3.0

In [11]:
s = "This is a string"
i = 7

In [ ]:
s + i

In [13]:
s + str(i)

'This is a string7'

## Complete Python Data Types

Python has the following data types built-in by default, in these categories:

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

None Type:	NoneType