# Python Tutorials: Program Flow

### Author: Dr. Owen Chen
### Date: 2023 Fall

## Topics:

- List Comprehension
- Dictionary Comprehension

# List Comprehension

In [85]:
l = [ i for i in range(10) ]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
# The above List comprehensin is equivalent to the following block:
l = []
for i in range(10):
        l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
# add an if condtion to a list comprehension

l_odd = [ i for i in range(10) if i % 2 == 1]
l_odd

[1, 3, 5, 7, 9]

In [87]:
# The above List comprehension with an if condition is equivalent to the following block:
l = []
for i in range(10):
    if i % 2 == 1:
        l.append(i)
l

[1, 3, 5, 7, 9]

# Dictionary Comprehension 
Similar to list comprehension, we can create a dictionary using a dictionary comprehension

In [ ]:
d = {i: f"item {i+1}" for i in range(10)}
d

{0: 'item 1',
 1: 'item 2',
 2: 'item 3',
 3: 'item 4',
 4: 'item 5',
 5: 'item 6',
 6: 'item 7',
 7: 'item 8',
 8: 'item 9',
 9: 'item 10'}

In [100]:
# The above dictionary comprehension is equivalent to the following block:
d = {}
for i in range(10):
    d[i] = f"item {i+1}"

In [101]:
d

{0: 'item 1',
 1: 'item 2',
 2: 'item 3',
 3: 'item 4',
 4: 'item 5',
 5: 'item 6',
 6: 'item 7',
 7: 'item 8',
 8: 'item 9',
 9: 'item 10'}

# Functions
### Goal
- Learn about functions
- Use functions to structure code
- Functions makes the code more readable

In [1]:
def my_func():
    print("Hello, World!")

In [2]:
my_func()

Hello, World!

In [3]:
def print_name(name):
    print(f"Hello {name}")

In [4]:
print_name("Rune")

Hello Rune

In [5]:
print_name("Jens")

Hello Jens

In [6]:
def print_age(name, age):
    print(f"Hello {name}")
    print(f"You are {age} years old")

In [7]:
print_age("Rune", 30)

Hello Rune
You are 30 years old

In [8]:
def calculate_age(birth_year):
    return 2022 - birth_year
    print("HELLO")

In [9]:
calculate_age(1991)

31

### Map Alphabet to ACSI Code

In [10]:
ord('A')

65

In [11]:
ord('B')

66

In [12]:
chr(65)

'A'

In [13]:
chr(66)

'B'

In [14]:
for c in range(65, 65 + 26):
    print(f"{c} is {chr(c)}")

65 is A
66 is B
67 is C
68 is D
69 is E
70 is F
71 is G
72 is H
73 is I
74 is J
75 is K
76 is L
77 is M
78 is N
79 is O
80 is P
81 is Q
82 is R
83 is S
84 is T
85 is U
86 is V
87 is W
88 is X
89 is Y
90 is Z

## Create a mapping between a number and a base number symbol - all the way up to Base 36

In [114]:
# Create mapping between a number and a string symbol
def base_map():
    basemap={i: str(i) for i in range(10)}
    alphabet_start = ord('a')
    for i in range(26):
        basemap[i+10]=chr(alphabet_start+i)
    return basemap

In [115]:
basemap=base_map()
basemap

{0: '0',
 1: '1',
 2: '2',
 3: '3',
 4: '4',
 5: '5',
 6: '6',
 7: '7',
 8: '8',
 9: '9',
 10: 'a',
 11: 'b',
 12: 'c',
 13: 'd',
 14: 'e',
 15: 'f',
 16: 'g',
 17: 'h',
 18: 'i',
 19: 'j',
 20: 'k',
 21: 'l',
 22: 'm',
 23: 'n',
 24: 'o',
 25: 'p',
 26: 'q',
 27: 'r',
 28: 's',
 29: 't',
 30: 'u',
 31: 'v',
 32: 'w',
 33: 'x',
 34: 'y',
 35: 'z'}

In [15]:
hours = 50
(hours + 3) % 24

5

In [16]:
def is_even(n):
    if n % 2 == 0:
        print("even")
    else:
        print("odd")

In [17]:
is_even(1)

odd

In [18]:
for i in range(10):
    print(i, end=' ')
    is_even(i)

0 even
1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd