# Python Tutorials: Program Flow

### Author: Dr. Owen Chen
### Date: 2023 Fall

## Topics:

- Program Flow
- Loops
- Functions

# Program Flow
### Goal
- To learn about if-statements
- Use if-statements to make a program perform based on variables

### Boolean expression
- Equals: a == b
- Not Equals: a != b
- Less than: a < b
- Less than or equal to: a <= b
- Greater than: a > b
- Greater than or equal to: a >= b

In [1]:
a = 10
b = 10
if a == b:
    print("a equals b")

a equals b

In [2]:
a = 10
b = 8
if a < b:
    print("a is less than b")

In [3]:
a = 12
b = 12
if a > b:
    print("a is greater than b")
else:
    print("a is not greater than b")

a is not greater than b

In [4]:
a = 13
b = 12
if a > b:
    print("a is greater than b")
elif a == b:
    print("a is equal to b")
else:
    print("a is less than b")

a is greater than b

In [5]:
a = 10
b = 10
if a != b:
    print("a does not equal b")

# Loops
### Goal
- Learn how to iterate over lists
- Iterate over the chars in a string
- Create a for-loop over a range
- Create a while-loop

In [1]:
my_list = ['First', 'Second', 'Third']

In [2]:
my_list

['First', 'Second', 'Third']

In [3]:
for i in my_list:
    print(i)

First
Second
Third

In [4]:
s = "Rune"

for c in s:
    print(c)
    print("Inside loop")
print("Outside the loop")

R
Inside loop
u
Inside loop
n
Inside loop
e
Inside loop
Outside the loop

In [5]:
for i in range(2, 4):
    print(i)

2
3

In [6]:
my_list

['First', 'Second', 'Third']

In [7]:
for i in range(len(my_list)):
    print(i, my_list[i])

0 First
1 Second
2 Third

In [8]:
value = 10

while value > 0:
    value = int(input("Value? "))

### A few new things

In [9]:
s = "abc"
c = 'd'

if c in s:
    print("c is in s")

In [10]:
if c not in s:
    print("c is not in s")

c is not in s

In [11]:
a = 13
b = 12
c = 10

if a < b or b < c:
    print("awesome")

### For Loop

In [95]:
l = [ i for i in range(10) ]
for x in l:
    print(x)

0
1
2
3
4
5
6
7
8
9

In [102]:
d = {i: f"item {i+1}" for i in range(10)}
for key, value in d.items():
    print(key, value)

0 item 1
1 item 2
2 item 3
3 item 4
4 item 5
5 item 6
6 item 7
7 item 8
8 item 9
9 item 10

In [103]:
for key in d.keys():
    print("key=", key, "value=", d[key])

key= 0 value= item 1
key= 1 value= item 2
key= 2 value= item 3
key= 3 value= item 4
key= 4 value= item 5
key= 5 value= item 6
key= 6 value= item 7
key= 7 value= item 8
key= 8 value= item 9
key= 9 value= item 10

In [104]:
for value in d.values():
    print(value)

item 1
item 2
item 3
item 4
item 5
item 6
item 7
item 8
item 9
item 10

In [105]:
x = d.items()
type(x)

dict_items

In [53]:
x = list(d.keys())
type(x)

list

In [52]:
x = list(d.values())
type(x)

list

In [54]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [55]:
l = [1, 2, 3]
for x in l:
    print(x)

1
2
3

### While Loop

In [56]:
i = 0
while i < 10:
    print(i)
    i +=1

0
1
2
3
4
5
6
7
8
9

## Nested Loops

In [63]:
matrix = [[i*j for i in range(1,11)] for j in range(1,4)]
matrix

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]]

In [58]:
l = len(matrix)
l

3

In [60]:
m = len(matrix[0])
m

10

In [65]:
l = len(matrix)
m = len(matrix[0])
for j in range(m):
    for i in range(l):
        print(matrix[i][j])

1
2
3
2
4
6
3
6
9
4
8
12
5
10
15
6
12
18
7
14
21
8
16
24
9
18
27
10
20
30

In [66]:
l = [1, 2, 3]
l[0:2]

[1, 2]

In [67]:
l[1:3]

[2, 3]

# Functions
### Goal
- Learn about functions
- Use functions to structure code
- Functions makes the code more readable

In [1]:
def my_func():
    print("Hello, World!")

In [2]:
my_func()

Hello, World!

In [3]:
def print_name(name):
    print(f"Hello {name}")

In [4]:
print_name("Rune")

Hello Rune

In [5]:
print_name("Jens")

Hello Jens

In [6]:
def print_age(name, age):
    print(f"Hello {name}")
    print(f"You are {age} years old")

In [7]:
print_age("Rune", 30)

Hello Rune
You are 30 years old

In [8]:
def calculate_age(birth_year):
    return 2022 - birth_year
    print("HELLO")

In [9]:
calculate_age(1991)

31

### Map Alphabet to ACSI Code

In [10]:
ord('A')

65

In [11]:
ord('B')

66

In [12]:
chr(65)

'A'

In [13]:
chr(66)

'B'

In [14]:
for c in range(65, 65 + 26):
    print(f"{c} is {chr(c)}")

65 is A
66 is B
67 is C
68 is D
69 is E
70 is F
71 is G
72 is H
73 is I
74 is J
75 is K
76 is L
77 is M
78 is N
79 is O
80 is P
81 is Q
82 is R
83 is S
84 is T
85 is U
86 is V
87 is W
88 is X
89 is Y
90 is Z

## Create a mapping between a number and a base number symbol - all the way up to Base 36

In [114]:
# Create mapping between a number and a string symbol
def base_map():
    basemap={i: str(i) for i in range(10)}
    alphabet_start = ord('a')
    for i in range(26):
        basemap[i+10]=chr(alphabet_start+i)
    return basemap

In [115]:
basemap=base_map()
basemap

{0: '0',
 1: '1',
 2: '2',
 3: '3',
 4: '4',
 5: '5',
 6: '6',
 7: '7',
 8: '8',
 9: '9',
 10: 'a',
 11: 'b',
 12: 'c',
 13: 'd',
 14: 'e',
 15: 'f',
 16: 'g',
 17: 'h',
 18: 'i',
 19: 'j',
 20: 'k',
 21: 'l',
 22: 'm',
 23: 'n',
 24: 'o',
 25: 'p',
 26: 'q',
 27: 'r',
 28: 's',
 29: 't',
 30: 'u',
 31: 'v',
 32: 'w',
 33: 'x',
 34: 'y',
 35: 'z'}

In [15]:
hours = 50
(hours + 3) % 24

5

In [16]:
def is_even(n):
    if n % 2 == 0:
        print("even")
    else:
        print("odd")

In [17]:
is_even(1)

odd

In [18]:
for i in range(10):
    print(i, end=' ')
    is_even(i)

0 even
1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd